.sidebar{
  height: 100%;
  width: 200px;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  position: fixed;
  overflow-y: auto;
}

.title{
  text-align: Center;
  font-size: 25px;
  font-family: monospace;
  margin-top: 20px;
}


.sidebar-ul{
  margin-top: 50px;
  margin-left: 14px;
}

.sidebar-li{
  list-style: none;
  font-family: monospace;
  font-size: 18px;
  margin-top: 20px;
  color: black;
}

.sidebar-li:hover{
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
}
